.ipynb_checkpoints
dataset
/node_modules/
/public/build/
package-lock.json
pnpm-lock.yaml
.DS_Store
*.swp

.vercel
deploy-gh-page.sh
publish.sh
publish*
dist
gh-page
explorer
lite
__pycache__

combine.ipynb
public/data/diffusiondb/umap.ndjson
.gitignoreghpage

notebook-widget/wizmap/data.json
notebook-widget/wizmap/*.ipynb
notebook-widget/wizmap/*.html
notebook-widget/wizmap/wizmap.js
*.egg-info

example/*.json
example/*.ndjson
notebooks
public/data/temp