.ipynb_checkpoints
dataset
/node_modules/
/public/build/
package-lock.json
pnpm-lock.yaml
.DS_Store
*.swp

.vercel
deploy-gh-page.sh
publish.sh
publish*
dist
gh-page
explorer
lite

umap-1m.json
umap-60k-topic-data.json
umap-60k.ndjson
umap-1m-topic-data.json
umap-1m.ndjson
umap-image-150k.ndjson