@import '../../define.scss';

.phrasepack-page {
  display: flex;
  flex-direction: column;
}

.main-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5px);
  max-height: 920px;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;

  position: relative;
}

.phrasepack {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 800px;
  height: 800px;
  border: 1px solid $gray-border;
  border-radius: 5px;
}
