@import '../../define.scss';

$button-border-radius: 8px;

.search-panel-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: $font-d1;
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  color: currentColor;

  // cursor: pointer;
  pointer-events: fill;

  :global(svg) {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

$search-h-margin: 10px;

$search-input-width: 250px;
$search-input-height: 18px;

$search-icon-width: 16px;
$cancel-icon-width: 14px;
$cancel-icon-margin: 8px;

$search-bar-v-padding: 12px;
$search-bar-h-padding: 12px;
$search-bar-gap: 8px;

.search-bar {
  position: absolute;
  top: $search-h-margin;
  left: $search-h-margin;
  color: $gray-600;

  display: flex;
  flex-direction: row;
  gap: $search-bar-gap;
  align-items: center;

  padding: $search-bar-v-padding $search-bar-h-padding;
  border-radius: $button-border-radius;
  background-color: change-color($color: white, $alpha: 1);
  transition: box-shadow 150ms ease-in-out;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2), 0 -1px 0 hsla(0, 0%, 0%, 0.02);

  &.focused {
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1), 0 -1px 0 hsla(0, 0%, 0%, 0.02);
  }

  &:focus {
    background-color: red;
  }

  #search-bar-input {
    border: none;
    width: $search-input-width;
    height: $search-input-height;

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: $gray-600;
    }
  }

  .search-icon {
    width: $search-icon-width;
    height: $search-icon-width;
  }

  .cancel-icon {
    width: $cancel-icon-width;
    height: $cancel-icon-width;
    margin-left: $cancel-icon-margin;
    color: $gray-500;
    transition: color 100ms ease-in-out;

    &:hover {
      color: adjust-color($color: $gray-500, $lightness: -10%);
    }

    &:active {
      color: adjust-color($color: $gray-500, $lightness: 10%);
    }
  }
}

.search-list-container {
  display: flex;
  flex-direction: column;

  background: white;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2),
    0 2px 6px 2px hsla(0, 0%, 0%, 0.08);

  height: 100%;
  width: $search-input-width + $search-bar-gap * 2 + $search-h-margin * 2 +
    $search-bar-h-padding * 2 + $search-icon-width + $cancel-icon-margin +
    $cancel-icon-width;
}

.search-list {
  height: 100%;
  padding: 0;
  margin-top: $search-input-height + $search-bar-v-padding * 2 +
    $search-h-margin;

  background-color: white;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  .header-gap {
    margin-top: 12px;
    height: 1px;
    width: 100%;
    flex-shrink: 0;

    background: $gray-300;
    opacity: 1;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.05), 0 1px 2px hsla(0, 0%, 0%, 0.05);
    transition: opacity 300ms ease-in-out, box-shadow 300ms ease-in-out;

    &.hidden {
      opacity: 0;
      box-shadow: none;
    }
  }

  .result-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;

    overflow-y: auto;
    overflow-x: hidden;

    .item {
      line-height: 1.2;
      width: 100%;
      padding: 5px ($search-h-margin + $search-bar-h-padding);
      border-bottom: 1px solid $gray-200;
      cursor: default;
    }

    .count-label {
      font-size: $font-d1;
      line-height: 1;
      width: 100%;
      padding: 5px ($search-h-margin + $search-bar-h-padding);
      color: $gray-500;
    }

    .add-more-button {
      padding: 8px;
      font-weight: 600;
      cursor: pointer;
      width: 100%;
      text-align: center;

      color: $blue-700;
      background-color: $gray-50;

      user-select: none;
      -webkit-user-select: none;
      transition: color 100ms ease-in-out;

      &:hover {
        color: $blue-600;
      }

      &:active {
        color: $blue-800;
      }
    }
  }
}
