@import '../../define.scss';

.embedding-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.embedding {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.embedding-svg {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
}

:global(.embedding-svg .contour-group) {
  transition: opacity, 300ms ease-in-out;
  opacity: 1;
}

:global(.embedding-svg .contour-group.hidden) {
  opacity: 0;
  pointer-events: none;
}

:global(.prompt-point) {
  fill: $gray-700;
  opacity: 0.4;
}

.embedding-canvas {
  transition: opacity, 300ms ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

:global(.embedding-canvas.hidden) {
  opacity: 0;
}

:global(.embedding-canvas.faded) {
  opacity: 0.4;
}

.embedding-canvas-back {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.topic-grid-canvas {
  position: absolute;
  transition: opacity, 300ms ease-in-out;
  top: 0px;
  left: 0px;
  z-index: 1;
}

:global(.topic-grid-canvas.faded) {
  opacity: 0;
  pointer-events: none;
}

:global(.topic-grid-canvas.hidden) {
  opacity: 0;
  pointer-events: none;
}

.top-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: $border-radius;
  z-index: 3;
}

:global(.top-svg .mouse-track-rect) {
  fill: none;
}

:global(.top-svg .label-background) {
  transition: 300ms ease-in-out ease-in-out;
  fill: white;
  opacity: 0;
}

:global(.top-svg .label-background.hidden) {
  opacity: 0;
}

:global(.top-svg .highlight-point) {
  fill: $gray-900;
  stroke: $gray-50;
}

:global(.top-svg .topic-label) {
  text-anchor: middle;
  font-family: 'Lato';
  pointer-events: none;
  line-height: 1;
  will-change: transform;
  fill: black;
}

:global(.top-svg .topic-label text) {
  text-rendering: geometricPrecision;
}

:global(.top-svg .topic-label.top) {
  text-anchor: middle;
  dominant-baseline: auto;
}

:global(.top-svg .topic-label.bottom) {
  text-anchor: middle;
  dominant-baseline: hanging;
}

:global(.top-svg .topic-label.left) {
  text-anchor: end;
  dominant-baseline: middle;
}

:global(.top-svg .topic-label.right) {
  text-anchor: start;
  dominant-baseline: middle;
}

:global(.top-svg .topic-label.top tspan) {
  text-anchor: middle;
  dominant-baseline: auto;
}

:global(.top-svg .topic-label.bottom tspan) {
  text-anchor: middle;
  dominant-baseline: hanging;
}

:global(.top-svg .topic-label.left tspan) {
  text-anchor: end;
  dominant-baseline: hanging;
}

:global(.top-svg .topic-label.right tspan) {
  text-anchor: start;
  dominant-baseline: hanging;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:global(.top-svg .label-group.hidden) {
  display: none;
}

:global(.top-svg g.topics) {
  transition: opacity 300ms ease-in-out;

  :global(*) {
    transition: initial;
  }

  :global(.topic-tile) {
    transition: stroke 300ms ease-in-out;
    fill: none;
    stroke: $gray-900;
  }

  :global(.topic-tile-back) {
    transition: stroke 300ms ease-in-out;
    fill: none;
    stroke: white;
  }
}

:global(.top-svg g.topics.faded) {
  opacity: 0.2;

  :global(.topic-tile) {
    stroke: $gray-200;
  }

  :global(.direction-indicator) {
    opacity: 0.2;
  }
}

:global(.top-svg .direction-indicator) {
  transition: opacity 300ms ease-in-out;
  stroke: none;
  fill: $gray-900;
}

:global(.top-svg g.topics.hidden) {
  opacity: 0;
}

:global(.top-svg g.topics-bottom) {
  :global(.highlight-tile) {
    fill: none;
  }
}

:global(.top-svg g.topics-top) {
  :global(.highlight-tile) {
    fill: none;
    stroke: $gray-900;
    transition: opacity 100ms linear;
  }
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;

  cursor: pointer;
  pointer-events: fill;

  :global(svg) {
    width: 100%;
    height: 100%;
  }
}

.setting-icon {
  position: absolute;
  top: 6px;
  right: 12px;
  z-index: 5;
  border-radius: $border-radius;
  background-color: change-color($color: $gray-50, $alpha: 0.6);

  .svg-icon {
    width: 26px;
    height: 26px;
    padding: 4px;
    border-radius: $border-radius;

    fill: $gray-700;
    color: $gray-700;
    background-color: change-color($color: $gray-400, $alpha: 0);
    transition: background-color 100ms $ease-cubic-in-out;

    &.activated {
      background-color: change-color($color: $gray-400, $alpha: 0.2);
    }

    &:hover {
      background-color: change-color($color: $gray-400, $alpha: 0.2);
    }

    &:active {
      background-color: change-color($color: $gray-400, $alpha: 0.4);
    }
  }
}

.control-panel {
  position: absolute;
  z-index: 4;
  top: 0px;
  right: 0px;
  width: 185px;
  background-color: change-color($color: white, $alpha: 0.95);
  accent-color: $blue-600;

  $border: 1px solid $gray-border;
  // border-bottom: $border;
  // border-left: $border;
  // border-right: $border;
  box-shadow: $shadow-border-light;
  border-radius: $border-radius;

  padding: $panel-v-padding $panel-h-padding 12px $panel-h-padding;

  font-size: $font-d2;
  line-height: 1;
  display: none;
  gap: 0px;
  flex-direction: column;

  &.shown {
    display: flex;
  }

  .header {
    display: flex;
    justify-content: center;
    font-size: $font-d1;
    padding: 5px 0;
    font-weight: 700;
  }

  .splitter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 8px 0px;

    &::after {
      content: '';
      width: 100%;
      border-bottom: 1px solid $gray-300;
    }
  }

  .control-item {
    display: flex;
    flex-direction: column;

    &.slider-item {
      margin-top: 2px;

      .control-row {
        justify-content: space-between;
      }
    }
  }

  .control-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .slider {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .item-header {
    margin-bottom: 0.6em;
    font-weight: 700;
  }

  .segmented-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid $gray-300;
    border-radius: $border-radius;

    .segmented-control-option {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      line-height: 1;
      width: 100%;
      padding: 2px 0px 4px 0px;
      cursor: pointer;
      transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &:not(:last-child) {
        border-right: 1px solid $gray-300;
      }

      &.selected {
        background-color: $blue-600;
        color: white;

        &:hover {
          background-color: adjust-color($color: $blue-600, $lightness: 8%);
        }

        &:active {
          background-color: adjust-color($color: $blue-600, $lightness: -5%);
        }
      }

      &:hover {
        background-color: adjust-color($color: $gray-300, $lightness: 9%);
      }

      &:active {
        background-color: adjust-color($color: $gray-300, $lightness: 7%);
      }
    }
  }
}
