@import '../../define.scss';

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  pointer-events: all;

  font-size: $font-d2;
  font-variant-numeric: tabular-nums;

  padding: 2px 8px 2px 4px;
  line-height: 1;
  border-top-left-radius: 2px;
  background-color: change-color($gray-100, $alpha: 0.9);

  user-select: none;
  -webkit-user-select: none;

  a {
    color: currentColor;

    &:hover {
      color: $blue-800;
    }
  }

  .name {
    font-weight: 700;
  }

  .splitter {
    height: 12px;
    width: 1px;
    border-right: 1px solid $gray-400;
  }

  .scale-legend {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;

    .scale-line {
      height: 8px;
      border: 1px solid currentColor;
      border-top: none;
    }
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

    .svg-icon {
      width: 1em;
      height: 1em;
    }
  }
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  color: currentColor;

  cursor: pointer;
  pointer-events: fill;

  :global(svg) {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

$zoom-button-border-radius: 8px;

.zoom-control {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.3);
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: $zoom-button-border-radius;
  font-size: 14px;
}

.zoom-button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  color: $gray-700;

  transition: background-color 100ms ease-in-out;

  &.zoom-button-plus {
    border-top-left-radius: $zoom-button-border-radius;
    border-top-right-radius: $zoom-button-border-radius;
  }

  &.zoom-button-minus {
    border-bottom-left-radius: $zoom-button-border-radius;
    border-bottom-right-radius: $zoom-button-border-radius;
  }

  &.zoom-button-reset {
    font-size: 16px;
    border-radius: $zoom-button-border-radius;
  }

  &:hover {
    background-color: $gray-200;
  }

  &:active {
    background-color: adjust-color($color: $gray-200, $lightness: -2%);
  }
}
