@import '../../define.scss';

.packing-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.packing {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.packing-svg {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
}

:global(.packing-svg) {
  font-family: 'Lato';

  :global(.circle-group-1) {
    :global(circle) {
      stroke: none;
      fill: $teal-100;
    }
  }

  :global(.circle-group-2) {
    :global(circle) {
      stroke: none;
      fill: $teal-600;
    }
  }
}
